<%- include("header") -%> 
    <div class="box" id="heading">
      <h1><%= listTitle -%></h1>
    </div>

    <div class="box">
      <% for(var i = 0; i < novoItemAdd.length; i++){ %>
      <div class="item">
        <input type="checkbox" />
        <p><%= novoItemAdd[i] %></p>
      </div>
      <% } %>
      <form class="" action="/" method="post">
        <input type="text" name="novoItem" placeholder="Novo Item" />
        <button type="submit" name="list" value=<%= listTitle %> >+</button>
      </form>
    </div>
<%- include("footer") -%> 